<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script type="text/javascript" src="static/js/leaflet_embed.js"></script>

<!-- <script type="text/javascript" src="/static/js/locate.js"></script> -->
<title>ShowHound</title>  
<link rel="stylesheet" href="static/css/coverflow.css"/> 
</head>
<body>

<header>
  <div class="container">
    <h1 class="logo">ShowHound</h1>
    <nav>
      <ul class="menu">
        <li><script src="static/js/now.js"></script></li>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        <li><a href="{{ url_for('login') }}">Log In</a></li>
      </ul>
    </nav>
  </div>
</header>

{% block content %}

{% endblock %}
</body>
</html>